<?xml version="1.0" ?>
<launch>
  <arg name="robot_ip" default="172.16.0.2"/>
  <arg name="load_gripper" default="false" />
  <arg name="robotiq_device" default="/dev/ttyUSB0" />

  <include file="$(find serl_franka_controllers)/launch/impedance.launch">
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <arg name="load_gripper" value="$(arg load_gripper)" />
  </include>

  <node pkg="robotiq_2f_gripper_control"
        type="Robotiq2FGripperRtuNode.py"
        name="robotiq_gripper"
        output="screen"
        args="$(arg robotiq_device)" />
</launch>
